body {
    background-color: #181818;
    color: #F5F5F5;
    font-family: Inter, sans-serif;
    text-align: center;
    margin: 0;
}

/* Новый стиль для хедера */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
}

main {
    margin-top: 60px; /* Добавить отступ сверху, чтобы контент не был скрыт хедером */
    padding: 20px;
}

/* Логотип */
.logo {
    height: 36px;
}

/* Контейнер для меню */
.menu {
    display: flex;
    align-items: center;
    gap: 36px;
    flex-grow: 1;
    padding-left: 86px;
}


/* Стили для пунктов меню */
.menu a {
    color: #F5F5F5;
    border-radius: 6px;
    font-size: 16px;
    text-decoration: none;
}

.menu a:hover {
    color: #CCCCCC;
}




/* Ссылка "Выйти" */
.logout {
    display: flex;
    align-items: center;
    gap: 8px; /* Расстояние между текстом и иконкой */
    text-decoration: none;
    color: inherit;
  }

  .logout-icon {
    width: 16px; /* Подстрой размер иконки */
    height: 16px;
  }

/* Правый контейнер для кнопок "Профиль" и "Выйти" */
.right-menu {
    display: flex;
    padding-left: 680px;
    gap: 42px;
    /* Расстояние между кнопками 24px */
}



/* Подвал */
footer {
    bottom: 0;
    left: 0;
    background-color: #222;
    padding: 8px 38px;
}

.footer-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.privacy-policy {
    margin-left: 1018px;
    color: #BABABA;
    text-decoration: none;
    font-size: 14px;
}


nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

nav a.active {
    color: #00ffcc;
}

.auth a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}

main {
    padding: 20px;
}

h1 {
    font-size: 28px;
}

hr {
    border: 1px solid #333;
}



.message {
    display: flex;
    align-items: flex-start; /* Выравнивание элементов сверху */
    background: #222; 
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 12px;
    position: relative;
}

.avatar-container img {
    width: 82px;  /* Фиксированная ширина */
    height: 82px; /* Фиксированная высота */
    border-radius: 50%; /* Круглая форма */
    object-fit: cover; /* Обрезка без искажения */
}


.content {
    display: flex;
    flex-direction: column;
    padding-top: 6px;
    padding-left: 24px;
    padding-bottom: 24px;
    color: #F5F5F5;
    max-width: 80%; /* Ограничение ширины */
}

.username {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 4px;
}


/* Стили для времени отправки сообщения */
.message .actions {
    position: absolute;
    top: 10px;   /* Отступ сверху */
    right: 10px; /* Отступ справа */
    font-size: 12px;   /* Меньший размер шрифта для времени */
    color: #BABABA;       /* Цвет текста времени (можно настроить) */
}

.message-input {
    display: flex;
    align-items: center;
    background: #222;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
    width: calc(100% - 32px);
}

.message-input input {
    flex-grow: 1;
    background: none;
    border: none;
    color: #fff;
    padding: 10px;
    outline: none;
}

.message-input i {
    cursor: pointer;
    margin: 0 10px;
}


/* Стиль для скрепки */
#attachmentIcon {
    cursor: pointer;
    margin-right: 12px;
}


 /* Стили для контейнера сообщений */
 #messagesContainer {
    width: 1438px;
    height: 504px; /* Вы можете регулировать высоту контейнера по вашему усмотрению */
    overflow-y: auto; /* Добавляет прокрутку, если сообщений слишком много */
    border-radius: 6px; /* Закругленные углы */
    padding: 12px;
}
